	<section class="section-light">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
				<h3 der heading-secondary-a">Email Updates</h3>
				<p>Join our digital mailing list and get news deals and be first to know about events</p>
					<form class="search">
						<div>
							<input type="search" placeholder="Enter e-mail address">
							<button type="submit"><a href="#" class="btn btn-danger">Subscribe</a></button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>